
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&family=Roboto+Slab:wght@100;800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f6fa;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.main-container {
  flex-direction: column;
  justify-content: space-around;
  margin: 0 3rem;
}

nav {
  width: 100vw;
  height: 5rem;
  background-color: #fff;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.user-img {
  width: 1rem;
  height: 1rem;
}

nav button {
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  border: 1px solid #f5f6fa;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
}

nav h1 {
  color: #0290ff;
  letter-spacing: normal;
  line-height: normal;
}

nav .nav-container {
  width: 88%;
  justify-content: space-between;
  align-items: center;
}

nav .nav-links {
  width: 55%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
}

.chapter-container span {
  text-transform: uppercase;
}

nav .nav-links span {
  text-transform: uppercase;
  color: #121212;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}

.non-active-class {
  opacity: 0.5;
}

.book-container {
  margin-top: 2rem;
  justify-content: space-between;
  background-color: #fff;
  padding: 2.3rem 1.5rem;
  font-family: 'Roboto Slab', serif;
  border: solid 1px #e8e8e8;
  border-radius: 0.2rem;
}

.book-description {
  width: 40%;
  text-align: left;
}

.book-description p {
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  opacity: 0.5;
  font-size: 0.8rem;
  font-weight: 800;
  margin: 1.2rem;
}

.book-description h2 {
  line-height: normal;
  letter-spacing: -0.2px;
  margin-top: -0.9rem;
}

.book-description h5 {
  line-height: normal;
  letter-spacing: normal;
  margin-top: -0.8rem;
  color: #4386bf;
}

.book-buttons {
  justify-content: space-between;
  cursor: pointer;
  width: 21%;
}

.book-buttons button {
  background-color: transparent;
  font-size: 0.9rem;
  border: none;
}

.chapter-container button {
  background-color: #0290ff;
  width: 11rem;
  height: 2rem;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.book-buttons button:not(:last-child) {
  border-right: 1px solid #f5f6fa;
  padding-right: 1rem;
}

.progress-bar {
  margin-top: 2rem;
}

.progress-circle {
  position: relative;
  width: 7.2rem;
}

.progress-circle div {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.light-circle {
  border: 5px solid #e8e8e8;
}

.blue-circle {
  border: 5px solid #4386bf;
  border-radius: 50%;
  border-left-color: transparent;
  transform: rotate(45deg);
}

.percentage-text {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
}

.chapter-container p {
  text-transform: uppercase;
  margin: -2rem;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.4px;
}

.percentage p:last-child {
  margin: -2rem;
}

.chapter-container {
  flex-direction: column;
  justify-content: space-around;
}
